.sidebar {
  background-color: #282c34;
  display: none;
  height: 100%;
  width: 20vw;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  border: 1px solid #61afef;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.active {
  display: block;
}

.searchbar_folder {
  display: flex;
  width: 20vw;
  align-items: baseline;
}

.searchbar_folder > img {
  margin-right: 10px;
}

.project_ul {
  list-style-type: none;
}

.project_ul > li:hover {
  color: #e5c07b;
  text-decoration: underline;
  cursor: pointer;
}

.project_container {
  margin-left: 10px;
  width: 100vw;
  display: flex;
}

.text {
  width: 40vw;
}

.text:hover{
  color: #e5c07b;
  text-decoration: underline;
  cursor: pointer;
}

.project_image {
  filter: grayscale(100%) drop-shadow(12px 12px 0px #98c379);
  width: 30vw;
  margin-left: 15px;
  height: 30vh;
  object-fit: cover;
}

.color_cyan {
  color: #56b6c2;
}

.color_blue {
  color: #61afef;
}

.color_red {
  color: #e06c75;
}

.color_green {
  color: #98c379;
}

.color_yellow {
  color: #e5c07b;
}

.color_white {
  color: #ffffff;
}

.color_purple {
  color: #c678dd;
}
