.introduction {
  background-color: #282c34;
  color: #fff;
  padding: 20px;
  margin: 20px 0;
  width: 100vw;
  z-index: 3;
  display: flex;
  
  
}

.subcontainer{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

