.github {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.color_cyan {
  color: #56b6c2;
}

.color_blue {
  color: #61afef;
}

.color_red {
  color: #e06c75;
}

.color_green {
  color: #98c379;
}

.color_yellow {
  color: #e5c07b;
}

.color_white {
  color: #ffffff;
}

.color_purple {
  color: #c678dd;
}
