.headerMobile{
    font-weight: normal;
    font-family: 'IBM Plex Mono', monospace;
    height: 50vh;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerMobile > h1{
    margin: 0;
}

.name{
    color: #e06c75;
}


